body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: opacity 0.5s ease;
}

body.fadeout {
  opacity: 0;
}

#splash {
   position: relative; 
   text-align: center;
}

.logo {
  position: absolute;
  width: 200px;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.logo.active {
  opacity: 1;
}



.version {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}
