bbody {
    margin: 0;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  transition: opacity 0.5s ease;
}
body.fadeout {
  opacity: 0;
}
#splash {
  text-align: center;
  position: relative;
}
.logo {
  width: 180px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s ease;
}

.logo.active {
  opacity: 1;
}


.version {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}
